{% extends 'layout/layout.html' %}
{% block title %} 首頁 {% endblock %}
{% block content %}


    <div class="container bg-secondary">
    <div class="row mt-3">
        <div class="col-3" style="width: 500px; height: 500px">
            <div class="card" style="width: 18rem;">
                <h1 style="text-align:center">題目標題</h1>
                <div class="card-body">
                <p class="card-text">題目說明</p>
                <div style="text-align:center">
                    <a href="html/about.html" class="btn btn-danger">Go somewhere</a>
                </div>
                
                </div>
            </div>
        </div>

        <div class="col-3" style="width: 500px; height: 500px">
            <div class="card" style="width: 18rem;">
                <h1 style="text-align:center">題目標題</h1>
                <div class="card-body">
                <p class="card-text">題目說明</p>
                <div style="text-align:center">
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock %}